<!DOCTYPE html>

<html>

	<head>
		<title>Welcome to Angular.js Class!</title>
		<link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="css/site.css" rel="stylesheet">
		<base href="/">
		<style>
		</style>
	</head>

	<body>
		<main ng-app="MyApp">
			<h1>Master Color List</h1>
			<ul>
				<li ng-repeat="color in colors">{{color}}</li>
			</ul>
			<color-tool caption="caption" colors="colors"></color-tool>
		</main>
		<script src="js/jquery/jquery-3.1.1.min.js"></script>
		<script src="js/ng/angular.min.js"></script>
		<script>

			angular.module("MyApp", [])
				.component("colorTool", {
					bindings: {
						caption: '<',
						colors: '<'
					},
					template: `
						<header>
							<h1>{{$ctrl.caption}}<h1>
						</header>
						<ul>
							<li ng-repeat="color in $ctrl.sortedColors">
								{{color}}
							</li>
						</ul>
						<form>
							<div>
								<label>New Color</label>
								<input type="text" id="new-color" name="newColor" ng-model="$ctrl.newColor">
								<button type="button" ng-click="$ctrl.addColor()">Add Color</button>
							</div>
						</form>
					`,
					controller: function($scope, $timeout) {

						var lastColors = null;
						var vm = this;

						vm.$onInit = function() {
							vm.myColors = vm.colors.concat();
						};

						Object.defineProperty(vm, 'sortedColors', {
							configurable: true,
							enumerable: true,
							get: function() {

								if (lastColors !== vm.myColors) {
									console.log('sorting colors');
									vm.myColors.sort();
									lastColors = vm.myColors;
								}

								return lastColors;

							}
						});

						vm.addColor = function() {
							vm.myColors = vm.myColors.concat(vm.newColor);
							vm.newColor = '';
						};

					}
				})
				.run(function($rootScope) {
				
					$rootScope.caption = "Color List";
					$rootScope.colors = ['red','green','white','blue'];
		
				});

		</script>
	</body>

</html>
