<!DOCTYPE html>

<html>

	<head>
		<title>Welcome to Angular.js Class!</title>
		<link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="css/site.css" rel="stylesheet">
		<base href="/">
		<style>
		</style>
	</head>

	<body>
		<main ng-app="MyApp">
			<h1>Master Color List</h1>
			<ul>
				<li ng-repeat="color in colors">{{color}}</li>
			</ul>
			<input type="checkbox" ng-model="showMe"> Show Me
			<color-tool ng-if="showMe" caption="caption" colors="colors" added-color="addNewColor(newColor)"></color-tool>
		</main>
		<script src="js/jquery/jquery-3.1.1.min.js"></script>
		<script src="js/ng/angular.min.js"></script>
		<script>

			angular.module("MyApp", [])
				.component("colorTool", {
					bindings: {
						caption: '<',
						colors: '<',
						addedColor: '&'
					},
					template: `
						<header>
							<h1>{{$ctrl.caption}}<h1>
						</header>
						<ul>
							<li ng-repeat="color in $ctrl.sortedColors">
								{{color}}
							</li>
						</ul>
						<form>
							<div>
								<label>New Color</label>
								<input type="text" id="new-color" name="newColor" ng-model="$ctrl.newColor">
								<button type="button" ng-click="$ctrl.addColor()">Add Color</button>
							</div>
						</form>
					`,
					controller: function($scope, $timeout) {

						var lastColors = null;
						var vm = this;

						vm.$onInit = function() {
							//console.log('I am being created!');
							//vm.myColors = vm.colors.concat();
						};

						vm.$onChanges = function(changes) {

							if (changes['colors']) {
								vm.myColors = vm.colors.concat();
							}

						};

						vm.$doCheck = function() {
							//console.log('do check');
						};

						vm.$onDestroy = function() {
							//console.log('I am being destroyed!');
						};

						Object.defineProperty(vm, 'sortedColors', {
							configurable: true,
							enumerable: true,
							get: function() {

								if (lastColors !== vm.myColors) {
									console.log('sorting colors');
									vm.myColors.sort();
									lastColors = vm.myColors;
								}

								return lastColors;

							}
						});

						vm.addColor = function() {
							console.log('add color was called');
							vm.addedColor({ newColor: vm.newColor });
							// vm.myColors = vm.myColors.concat(vm.newColor);
							vm.newColor = '';
						};

					}
				})
				.run(function($rootScope, $timeout) {
				
					$rootScope.caption = "Color List";
					$rootScope.colors = ['red','green','white','blue'];
					$rootScope.showMe = true;

					$rootScope.addNewColor = function(newColor) {
						console.log('called add new color');
						$rootScope.colors = $rootScope.colors.concat(newColor);
					};

					// $timeout(function() {
					// 	$rootScope.colors = $rootScope.colors.concat('hot pink');
					// }, 5000);
		
				});

		</script>
	</body>

</html>
