<!DOCTYPE html>

<html>

	<head>
		<title>Welcome to Angular.js Class!</title>
		<link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="css/site.css" rel="stylesheet">
		<base href="/">
		<script src="js/jquery/jquery-3.1.1.min.js"></script>
		<script src="js/ng/angular.min.js"></script>
	</head>

	<body class="container-fluid">
		<main ng-app="CarToolApp" class="row">
			<car-tool class="col-xs-8 offset-md-2"></car-tool>
		</main>
		<script>

			angular.module("CarToolApp", [])
				.factory("cars", function() {

					var lastCarId = 0;

					var carData = [
						{ id: ++lastCarId, make: 'Ford', model: 'Fusion', year: 2015, color: 'blue', price: 12000 }, 
						{ id: ++lastCarId, make: 'Lexus', model: 'IS350', year: 2013, color: 'black', price: 42000 }, 
						{ id: ++lastCarId, make: 'Chevrolet', model: 'Silverado', year: 2010, color: 'red', price: 30000 }
					];

					return {
						getAll: function() {
							return carData;
						},
						get: function(carId) {
							return carData.find(car => car.id === carId);
						},
						insert: function(car) {
							carData = carData.concat(Object.assign(car, { id: ++lastCarId }));
							return car;
						},
						replace: function(car) {
							var carIndexToReplace = carData.findIndex(c => c.id === car.id);
							carData = carData.slice(0, carIndexToReplace).concat(car, carData.slice(carIndexToReplace + 1));
							return car;
						},
						delete: function(carId) {
							var carIndexToDelete = carData.findIndex(car => car.id === carId);
							var carToDelete= carData[carIndexToDelete];
							carData = carData.slice(0, carIndexToDelete).concat(carData.slice(carIndexToDelete + 1));
							return carToDelete;
						}
					}

				})
				.component("toolHeader", {
					template: `
						<header>
							<h1 class="display-1">{{vm.caption}}</h1>
						</header>
					`,
					controllerAs: 'vm',
					bindings: {
						caption: '<'
					}
				})
				.component("itemTable", {
					template: `
						<h2>{{vm.config.caption}}</h2>
						<table class="table table-striped">
							<thead>
								<tr>
									<th ng-repeat="col in vm.config.columns">
										{{col.caption}}
									</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="item in vm.items">
									<td ng-repeat="col in vm.config.columns">
										{{item[col.field]}}
									</td>
								</tr>
							</tbody>
						</table>
					`,
					controllerAs: 'vm',
					bindings: {
						items: '<',
						config: '<'
					}
				})
				.component("carForm", {
					template: `
						<h2>Car Form</h2>
						<form>
							<div class="form-group">
								<label for="car-make">Make</label>
								<input class="form-control" type="text" id="car-make" name="carMake" ng-model="vm.car.make">
							</div>
							<div class="form-group">
								<label for="car-model">Model</label>
								<input class="form-control" type="text" id="car-model" name="carModel" ng-model="vm.car.model">
							</div>
							<div class="form-group">
								<label for="car-year">Year</label>
								<input class="form-control" type="text" id="car-year" name="carYear" ng-model="vm.car.year">
							</div>
							<div class="form-group">
								<label for="car-color">Color</label>
								<input class="form-control" type="text" id="car-color" name="carColor" ng-model="vm.car.color">
							</div>
							<div class="form-group">
								<label for="car-price">Price</label>
								<input class="form-control" type="text" id="car-price" name="carPrice" ng-model="vm.car.price">
							</div>
							<button type="button" class="btn btn-primary" ng-click="vm.submitCar({ car: vm.car }); vm.car = {};">Save Car</button>
						</form>
					`,
					controllerAs: 'vm',
					bindings: {
						submitCar: '&' 
					}
				})
				.component("carTool", {
					template: `
						<tool-header caption="vm.caption"></tool-header>
						<item-table items="vm.cars" config="vm.carsConfig"></item-table>
						<car-form submit-car="vm.addCar(car)"></car-form>
					`,
					controllerAs: 'vm',
					controller: function(cars) {

						var vm = Object.assign(this, {
							caption: 'Cars Tool',
							cars: [],
							carsConfig: {
								caption: 'Cars Table',
								columns: [
									{ caption: 'Make', field: 'make' },
									{ caption: 'Model', field: 'model' },
									{ caption: 'Year', field: 'year' },
									{ caption: 'Color', field: 'color' },
									{ caption: 'Price', field: 'price' }
								]
							}
						});

						vm.refreshCars = () => {
							vm.cars = cars.getAll();
						}

						vm.addCar = newCar => {
							cars.insert(newCar);
							vm.refreshCars();
						};

						vm.$onInit = () => {
							vm.refreshCars();
						};

					}
				});

		</script>
	</body>

</html>
